.popup__save-button{
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    min-height: 50px;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    transition: .4s ease;
}

.popup__save-button:focus{
    outline: none;
}

.popup__save-button:hover{
    opacity: 0.8;
}


@media (max-width: 480px){
    .popup__save-button{
        font-size: 14px;
        line-height: 17px;
        min-height: 46px;
    }
}
